img{
    max-width:38%;
    
}

body{
    background-color:#666666;
    font-family: 'bernard-mt-condensed-regular', sans-serif;
    align-items:center;
    justify-content:center;
    margin:0;
    color:white;
}

header{
    background-image: url(images/wyomingMountainLake.jpg);
    margin-bottom:3rem;
    background-size:cover;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    font-family: 'bernard-mt-condensed-regular', sans-serif;

}

.green{
    background-color:#0E5100;
    padding:1.5rem;
    margin:2rem;
    border-radius:.5rem;
}

nav{
    flex-basis:100%;
    text-align:center;
}

a{
    background-color:#0E5100;
    border-radius: .25rem;
    padding:.5rem;
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:1.5rem;
    align-items:center;
    justify-content:space-between;
    display:inline-block;
    margin-top: .25rem;
    font-family: 'bernard-mt-condensed-regular', sans-serif;

}

.road{
    margin-top:3rem;
    align-items:center;
}


.contact{
    background-image: url(images/tentFogRiver.jpg);
    padding:4rem;
    background-size:cover;
    text-align:center;
}

.contact h2{
    background-color:#666666d6;
}


.review img{
    width:50%;
    display:block;
    margin:auto;
}

.box{
    background-color:#2E373C;
    width:calc(50% - 5rem);
    margin:auto;
    text-align:center;
    padding:1rem;
    margin-bottom:3rem;
 }



.introvid{
    position:relative;
    overflow:hidden;
    text-align:center;

}

.introvid h1{
    background-color:#666666d6;
    
}

.introvid.home iframe{
    position:absolute;
    top:-20%;
    left:-50%;
    width:200%;
    height:180%;
    z-index:-1;
}

.intropiclocations{
    background-image:url(images/wyomingSunset.JPG);
    background-size:cover;

}

.intropicrentals{
    background-image:url(images/girlsking.jpg);
    background-size:cover;
}

.intropicgallery{
    background-image:url(images/smokeymountain.jpg);
    background-size:cover;
}

.intropicexperiences{
    background-image:url(images/campsiteTent.jpg);
    background-size:cover;
}



.textbackground{
    padding: 2rem;
    background-size:100%;
    background-position:center;
    color:white;
    /*same for all images*/
}


.winery{
    background-image:url(images/vineyard.jpg);
    }

.minigal{
    display:flex;
    align-items:flex-start;
    justify-content:center;
    gap:2rem;
      /*same for all images*/
    

    /*desktop=maxheight*/
    }

.minigal img{
    flex:1 ;
    width:unset;
    flex-basis:30%;
    
}

.places{
    background-image:url(images/beachHouseSunset.jpg);
    background-size:cover;
  
    align-items:center;
    display:inline-block;
    position:fixed;
}

.tours{
    background-image:url(images/truckinLavendar.jpg);
    background-size:cover;
    padding:10rem;
    text-align:center;
    align-items:center;
}

.motor{
    background-image:url(images/motorcycleFast.jpg);
    background-size:cover;
    padding:10rem;
    text-align:center;
    align-items:center;
}

.boats{
    background-image:url(images/skiboat.jpg);
    background-size:cover;
    padding:10rem;
    text-align:center;
    align-items:center;
}
  